@import '../../scss/vars';
@import '../../scss/mixins';

.projects-item {
  &__about {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  &__description-btn {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    @include font($text-font, 16px);
    color: $prime-color;
    margin-right: 15px;
    transition: $main-transition;
  
    &:hover {
      background-color: $secondary-light-color;
    }
  }
}