@import '../../scss/vars';
@import '../../scss/mixins';

.category {
  &__title {
    @include font($text-font, 2.5rem);
    color: $secondary-light-color;
    font-weight: 300;

    margin-bottom: 2rem;
  }
}

.projects {
  &__list {
    display: flex; 
    flex-wrap: wrap;
  }
} 
