@import '../../scss/vars';
@import '../../scss/mixins';

.projects {
  &__item {
    padding: 0px 10px;
    margin-bottom: 40px;
  }

  &-item {
    width: 33%;

    &__img {
      width: 100%;
      height: 230px;
      border-radius: 5px;
      cursor: pointer;

      img {
        border-radius: 5px;
      }
    }

    .img_loaded:hover &__link {
      width: 100%;
      opacity: 1;
    }

    &__link {
      position: absolute;
      top: 0px;
      right: 0px;
      display: flex;
      @include alignElements(center);
      @include size(0px, 100%);
      // background-color: rgba(239, 187, 53, 0.85);
      background-color: rgba(43, 47, 51, 0.85);
      transition: $main-transition;
      overflow: hidden;
      opacity: .4;
      z-index: 2;
    }

    &__link-text {
      @include font($caption-font, 2rem);
      color: $primory-light-color;
      text-decoration: underline;
    }

    &__title {
      @include font($caption-font, 1.7rem);
      font-weight: 300;
      margin: 10px 0px;
    }

    &__about {
      display: flex;
      // justify-content: flex-end;
    }

    &__description {
      cursor: pointer;
      padding: 10px;
      border: none;
      border-radius: 5px;
      @include font($text-font, 16px);
      background-color: $primory-light-color;
      // background-color: $secondary-light-color;
      color: $prime-color;
      margin-right: 15px;
      transition: $main-transition;

      &:hover {
        background-color: $secondary-light-color;
      }
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  @include font($text-font, 1.2rem);

  &__item {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px 0px 0px;
    background-color: $tag-bg;
    color: $tag-text;
    transition: $main-transition;

    &:hover {
      background-color: $secondary-light-color;
    }
  }
}