@import '../../scss/vars';
@import '../../scss/mixins';

.tags {
  display: flex;
  flex-wrap: wrap;
  @include font($text-font, 1rem);
  font-weight: 700;

  &__item {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px 0px 0px;
    background-color: $primory-dark-color;
    color: $primory-light-color;
    transition: $main-transition;
    text-transform: uppercase;

    &:hover {
      background-color: $secondary-light-color;
    }

    @include phone {
      padding: 12px 15px;
    }
  }
}