@import '../../scss/vars';
@import '../../scss/mixins';
@import '../../scss/animations';

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;

  &__text {
    font-family: $text-font;
    font-size: 1.5rem;
    color: $primory-light-color;
    flex-grow: 1;
  }

  &__img {
    width: 200px;
    flex-shrink: 0;

    img {
      width: 100%;
      // min-width: 200px;
      object-fit: cover;
      border: 3px solid $primory-light-color;
      border-radius: 50%;
    }
  }
}