@import '../../scss/vars';
@import '../../scss/mixins';

.about-text {
  &__content {
    position: relative;
    @include font($text-font, 1.3rem);
    line-height: 1.8rem;
    margin: 15px 0px;
  }
}
