@import '../scss/vars';

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  margin: 0;
  background-color: $prime-color;
  color: $primory-light-color;
}

#react-container {
  display: flex;
  min-height: 100vh;
}

.caption {
  font-family: $caption-font;
  font-size: 3.5rem;
  font-weight: 300;
  color: $secondary-light-color;
  text-align: center;
  animation: $caption-animation;
}