@import '../scss/vars';
@import '../scss/mixins';

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  @include tablet {
    font-size: 15px;
  }

  @include phone {
    font-size: 14px;
  }
}

body {
  margin: 0;
  background-color: $prime-color;
  color: $primory-light-color;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

#react-container {
  display: flex;
  min-height: 100vh;
}

.container {
  position: relative;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 0px 25px;

  @include phone {
    padding: 0px 15px;
  }
}

.caption {
  @include font($caption-font, 3.5rem);
  font-weight: 300;
  color: $secondary-light-color;
  text-align: center;
  animation: $caption-animation;
}

.subcaption {
  @include font($caption-font, 2.5rem);
  color: $secondary-light-color;
  font-weight: 300;
}

.projects,
.contacts,
.about {
  padding-top: 70px;
  padding-bottom: 30px;

  &__caption {
    margin-bottom: $caption-margin;

    @include phone {
      margin-bottom: 50px;
    }
  }

  @include phone {
    padding-top: 90px;
    padding-bottom: 20px;
  }
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #3b4149;
}

::-webkit-scrollbar-thumb {
  background-color: #696e78;
}