@import '../../scss/vars';
@import '../../scss/animations';

.img {
  position: relative;
  background-color: $secondary-color;

  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: $main-transition;
  }
}

.img_loaded {
  img {
    opacity: 1;
  }
}