@import '../../scss/vars';
@import '../../scss/mixins';

main {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  width: 75%;
  min-height: 100%;
  height: fit-content;
  // padding: 0px 20px;
  z-index: 1;

  @include desktop {
    width: auto;
    left: 150px;
  }

  @include tablet {
    left: 0px;
  }
}

.lang-choosing {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  font-family: $text-font;

  &__item {
    color: $primory-light-color;
    font-size: 20px;
    cursor: default;
    transition: .4s;

    &_active {
      color: $secondary-light-color;
    }
  }

  &__toggler {
    margin: 0px 10px;
  }
}

.toggler {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: .5s;
    border: 3px solid white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    cursor: pointer;
    z-index: 2;
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      background-color: $secondary-color;
      // background-color: $secondary-light-color;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      z-index: 3;
    }
  }

  &__checkbox {
    display: none;

    &:checked + .toggler__slider {
      // background-color: #000;
    }

    &:checked + .toggler__slider:before {
      // background-color: $secondary-light-color;
      right: 0;
    }
  }
}
