@import '../../scss/vars';
@import '../../scss/mixins';

.content {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  width: 75%;
  min-height: 100vh;
  z-index: 1;

  @include desktop {
    width: auto;
    left: 150px;
  }

  @include tablet {
    left: 0px;

    &_menu-opened {
      transform: translateX(150px);
    }
  }
}

.menu-toggler_positioned {
  position: absolute;
  left: 25px;
  top: 25px;

  @include phone {
    left: 15px;
    top: 20px;
  }
}

.lang-choosing {
  position: absolute;
  top: 20px;
  right: 25px;
  display: flex;
  align-items: center;
  font-family: $text-font;

  @include phone {
    top: 15px;
    right: 15px;
  }
  
  &__item {
    color: $primory-light-color;
    font-size: 20px;
    cursor: default;
    transition: .4s;

    &_active {
      color: $secondary-light-color;
    }
  }
}