@import '../../scss/vars';
@import '../../scss/mixins';

.content {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  width: 75%;
  min-height: 100vh;
  // height: fit-content;
  // padding: 0px 20px;
  z-index: 1;

  @include desktop {
    width: auto;
    left: 150px;
  }

  @include tablet {
    // position: static;
    // @include size(100%);
    // z-index: -1;
    left: 0px;

    &_menu-opened {
      transform: translateX(150px);
      // margin-left: 150px;
    }
  }
}

.lang-choosing {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  font-family: $text-font;

  &__item {
    color: $primory-light-color;
    font-size: 20px;
    cursor: default;
    transition: .4s;

    &_active {
      color: $secondary-light-color;
    }
  }

  &__toggler {
    margin: 0px 10px;
  }
}


.loading {
  display: flex;
  @include size(100%, 100vh);
  @include alignElements(center);
  @include font($caption-font, 3rem);
  text-align: center;
  color: $secondary-light-color;
}