@import '../../scss/vars';
@import '../../scss/mixins';
@import '../../scss/animations';

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  @include alignElements(center);
  width: 25%;
  background-color: $secondary-color;
  
  @include desktop {
    width: 150px;
  }

  @include tablet {
    display: none;
  }

  &_active {
    display: flex;
    animation: menuSlide $main-transition;
    box-shadow: 0px 0px 10px #000;
    z-index: 10;

    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #000, $alpha: 0.5);
      animation: fadeIn $main-transition;
    }
  }
}

.menu {
  width: 100%;

  &__icon {
    margin-right: 15px;

    @include desktop {
      margin: 0;
    }
  }

  &__item {
    width: inherit;
  }

  &__link {
    position: relative;
    width: 100%;
    padding: 15px 0px;
    font-size: 2.5rem;
    font-family: $caption-font;
    color: $primory-light-color;
    text-align: center;
    transition: $main-transition;
    background-color: transparent;
    z-index: 1;

    @include desktop {
      display: flex;
      flex-direction: column;
      font-size: 1.7rem;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 0px;
      transition: $main-transition;
      background-color: $secondary-light-color;
      z-index: -1;
    }

    &:hover:before {
      width: 100%;
    }

    &_active {
      color: $secondary-light-color;
      background-color: $active-link;

      & .icon {
        color: $secondary-light-color;
      }

      &:hover:before {
        width: 0px;
      }
    }
  }
}