// Colors
// $prime-color: #17144D;
$prime-color: #222831;
// $prime-color: #28313e;
// $secondary-color: #2F2963;
$secondary-color: #2b2f33;
$primory-light-color: #F2EFEA;
// $primory-light-color: #d6ffee;
// $secondary-light-color: #FC7753;
$secondary-light-color: #efbb35;
$tag-bg: #314057;
$tag-text: antiquewhite;
$active-link: #3c4145;

// Fonts
$caption-font: 'Oswald', sans-serif;
$text-font: 'Nunito', sans-serif;

// Animations
$main-transition: .4s ease;
$caption-animation: slideFromTop .7s ease-in-out; 