// Colors
$prime-color: #222831;
$secondary-color: #2b2f33;
$primory-light-color: #F2EFEA;
$secondary-light-color: #efbb35;
$primory-dark-color: #314057;
$active-link: #3c4145;

// Fonts
$caption-font: 'Oswald', sans-serif;
$text-font: 'Nunito', sans-serif;

// Animations
$main-transition: .4s ease;
$caption-animation: slideFromTop .7s ease-in-out; 

// BreakPoints
$desktopWidth: 1100px;
$smDesktopWidth: 980px;
$tabletWidth: 768px;
$phoneWidth: 576px;

// Other styles
$caption-margin: 40px;